<section class="section advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden">our advantages</h2>

    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__wrapper">
          <svg class="advantages__icon">
            <use href=" images/icons.svg#icon-noun_Female-Student_2575636-1"></use>
          </svg>

          <span class="advantages__span"></span>
        </div>

        <p class="advantages__description">Adapted author's UPE program</p>
      </li>

      <li class="advantages__item">
        <div class="advantages__wrapper">
          <svg class="advantages__icon">
            <use href=" images/icons.svg#icon-noun_Mobile-Learning_2671727-1"></use>
          </svg>

          <span class="advantages__span"></span>
        </div>

        <p class="advantages__description">Modern teaching methods</p>
      </li>

      <li class="advantages__item">
        <div class="advantages__wrapper">
          <svg class="advantages__icon">
            <use href=" images/icons.svg#icon-noun_insurance_1989980-2"></use>
          </svg>

          <span class="advantages__span"></span>
        </div>

        <p class="advantages__description">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
