<section class="section hero">
  <div class="container hero__container">
    <div class="hero_wrapper">
      <h1 class="hero__title">
        Complex preparation <br />
        for English UPE
      </h1>

      <p class="hero__text">
        <span class="hero__text--secondary">It won’t be easy.</span><br />
        But you’re guaranteed to get<br />
        <span class="hero__text--accent">+25 points</span>
      </p>

      <a class="button hero__button">I want a free lesson</a>
    </div>

    <picture>
      <source
        media="(max-width: 767px)"
        srcset="images/mobile/hero/hero-mobile.png 1x, images/mobile/hero/hero-mobile@2x.png 2x"
        type="image/png"
      />

      <source
        media="(min-width: 1366px)"
        srcset="images/desktop/hero/hero-desktop.png 1x, images/desktop/hero/hero-desktop@2x.png 2x"
        type="image/png"
      />

      <source
        media="(min-width: 768px)"
        srcset="images/tablet/hero/hero-tablet.png 1x, images/tablet/hero/hero-tablet@2x.png 2x"
        type="image/png"
      />

      <img class="hero__image" src=" images/mobile/hero/hero-mobile.png" alt="Our lesson" />
    </picture>
  </div>
</section>
