<section class="section how-we-do">
  <div class="container how-we-do__container">
    <h2 class="how-we-do__title">How do we do it</h2>

    <ul class="how-we-do__list card-set">
      <li class="how-we-do__item card-set-item">
        <svg class="how-we-do__icon">
          <use href=" images/icons.svg#icon-noun_study-program_1561455-1"></use>
        </svg>

        <h3 class="how-we-do__subtitle">Adapted program preparation for UPE</h3>

        <p class="how-we-do__description">
          You will learn grammar and vocabulary at the same time. And you will learn how to write
          essays.
        </p>
      </li>

      <li class="how-we-do__item card-set-item">
        <svg class="how-we-do__icon">
          <use href=" images/icons.svg#icon-noun_Mobile-Learning_2671727-1"></use>
        </svg>

        <h3 class="how-we-do__subtitle">Classroom and online learning</h3>

        <p class="how-we-do__description">
          The teacher will help not only in the classroom, but also during home preparation.Parents
          can chat if they wish.
        </p>
      </li>

      <li class="how-we-do__item card-set-item">
        <svg class="how-we-do__icon">
          <use href=" images/icons.svg#icon-noun_open-book_2671700-1"></use>
        </svg>

        <h3 class="how-we-do__subtitle">The habit of reading in English</h3>

        <p class="how-we-do__description">
          Articles from sources that are used in the development of this UPE will be received by
          phone twice a week.
        </p>
      </li>

      <li class="how-we-do__item card-set-item">
        <svg class="how-we-do__icon">
          <use href=" images/icons.svg#icon-psychological-support"></use>
        </svg>

        <h3 class="how-we-do__subtitle">Psychological support</h3>

        <p class="how-we-do__description">
          We will teach you testing techniques, the ability to plan your confidence training in
          itself.
        </p>
      </li>

      <li class="how-we-do__item card-set-item">
        <svg class="how-we-do__icon">
          <use href=" images/icons.svg#icon-noun_Female-Student_2575636-1"></use>
        </svg>

        <h3 class="how-we-do__subtitle">Training on copyright manuals</h3>

        <p class="how-we-do__description">
          You don't have to waste your time on a search for material and to buy anything extra. We
          have compiled 2 manuals for you.
        </p>
      </li>

      <li class="how-we-do__item card-set-item">
        <svg class="how-we-do__icon">
          <use href=" images/icons.svg#icon-noun_Audio-Book_2473332-1"></use>
        </svg>

        <h3 class="how-we-do__subtitle">Ability to comprehend spoken English</h3>

        <p class="how-we-do__description">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in
          accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>
