<div class="mobile-menu js-menu-container" id="mobile-menu">
  <!-- <div class="mobile-menu is-open js-menu-container" id="mobile-menu"> -->
    <div class="container mobile-menu__container">
      <div class="mobile-menu__header">
        <a href="#" class="mobile-menu__logo logo">
          <svg class="mobile-menu__logo-icon">
            <use href=" images/icons.svg#icon-logo-white"></use>
          </svg>
        </a>

        <button class="mobile-menu__close-menu js-close-menu">
          <svg class="mobile-menu__menu-icon" stroke="#ffffff" width="14.5px" height="14.5px">
            <use href=" images/icons.svg#icon-Group-56"></use>
          </svg>
        </button>
      </div>

      <ul class="mobile-menu__links">
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Studying program</a>
        </li>

        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">About</a>
        </li>

        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">Training options</a>
        </li>

        <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Contacts</a></li>
      </ul>

      <button type="button" class="button--inversed mobile-menu__button">
        Consultation by phone
      </button>
    </div>
  </div>
</div>
