<section class="section pre-footer">
  <div class="container pre-footer__container">
    <a href="#" class="pre-footer__logo">
      <svg class="pre-footer__icon">
        <use href=" images/icons.svg#icon-logo-black"></use>
      </svg>
    </a>

    <div class="pre-footer__contacts">
      <a href="tel:+38 (000) 000 00 00" class="pre-footer__tel">
        <svg class="pre-footer__tel-icon" width="20px" height="19.21px">
          <use href=" images/icons.svg#icon-Group-1"></use>
        </svg>
        +38 (000) 000 00 00
      </a>

      <a href="#" class="pre-footer__inst">
        <!-- иконка инстаграмма через бекграунд картинкy -->
      </a>
    </div>
  </div>
</section>
