<section class="section program">
  <span class="program__desktop-border"></span>

  <div class="container program__container">
    <h2 class="program__title">Our program</h2>

    <ul class="program__list">
      <li class="program__item">
        <h3 class="program__subtitle">1 semester</h3>

        <ul class="program__description-list description-list">
          <li class="description-list__item">
            <h4 class="description-list__title">— Grammar</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Nouns & Articles</li>

              <li class="point-list__item">Adjectives & Adverb</li>
            </ul>
          </li>

          <li class="description-list__item">
            <h4 class="description-list__title">— Vocabulary</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Family & Relations</li>

              <li class="point-list__item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="program__item">
        <h3 class="program__subtitle">2 semester</h3>

        <ul class="program__description-list description-list">
          <li class="description-list__item">
            <h4 class="description-list__title">— Grammar</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Pronouns</li>

              <li class="point-list__item">Active Voice</li>

              <li class="point-list__item">Passive Voice</li>
            </ul>
          </li>

          <li class="description-list__item">
            <h4 class="description-list__title">— Vocabulary</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Home</li>

              <li class="point-list__item">School</li>

              <li class="point-list__item">Work</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="program__item">
        <h3 class="program__subtitle">3 semester</h3>

        <ul class="program__description-list description-list">
          <li class="description-list__item">
            <h4 class="description-list__title">— Grammar</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Modal verbs</li>

              <li class="point-list__item">Infinitive</li>

              <li class="point-list__item">Gerund</li>

              <li class="point-list__item">Participle: 1, 2</li>
            </ul>
          </li>

          <li class="description-list__item">
            <h4 class="description-list__title">— Vocabulary</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Travel & Tourism</li>

              <li class="point-list__item">Culture & Free Time</li>

              <li class="point-list__item">Sport</li>
            </ul>
          </li>

          <li class="description-list__item">
            <h4 class="description-list__title">— Writing</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="program__item">
        <h3 class="program__subtitle">4 semester</h3>

        <ul class="program__description-list description-list">
          <li class="description-list__item">
            <h4 class="description-list__title">— Grammar</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Clauses: Conditional and Wishes</li>

              <li class="point-list__item">Direct / Reported speech</li>

              <li class="point-list__item">Preposition</li>

              <li class="point-list__item">Conjunction</li>

              <li class="point-list__item">Numeral</li>
            </ul>
          </li>

          <li class="description-list__item">
            <h4 class="description-list__title">— Vocabulary</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Healthy Living</li>

              <li class="point-list__item">Nature & Environment</li>

              <li class="point-list__item">Money</li>
            </ul>
          </li>

          <li class="description-list__item">
            <h4 class="description-list__title">— Writing</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="program__item">
        <h3 class="program__subtitle">5 semester</h3>

        <ul class="program__description-list description-list">
          <li class="description-list__item">
            <h4 class="description-list__title">—</h4>

            <ul class="description-list__point-list point-list">
              <li class="point-list__item point-list__item--photo">Revision</li>

              <li class="point-list__item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <include src="partials/benefits.html"></include>
</section>
