<section class="section registration">
  <div class="container registration__container">
    <h3 class="registration__title">
      Registration for a <span>free</span> phone <span>consultation</span> on the nuances of English
      UPE
    </h3>

    <p class="registration__text">
      Leave a request for participation in a <span>free lesson</span>. 
      <br>A consultant will contact you
      and answer your questions
    </p>

    <form class="registration__form">
      <div class="registration__field">
        <label for="registration-name" class="registration__label"></label>

        <input type="text" name="name" id="registration-name" class="registration__input" placeholder="Имя*" />
      </div>

      <div class="registration__field">
        <label for="registration-tel" class="registration__label"></label>

        <input type="tel" name="name" id="registration-tel" class="registration__input" placeholder="Телефон*"/>
      </div>

      <button type="submit" class="registration__button button">хочу на бесплатное занятие</button>
    </form>
  </div>
</section>
