.about {
  padding-bottom: 0px;
  padding-top: 0;

  // @media screen and (min-width:1366px) {
  //   padding-top: 200px;
  // }

  @media screen and (min-width:768px) {
    &__cont-about-wrapper {
      display: flex;
    }   
  }

  &__title {
    @include font(800, 20px, 130%, 0.03em);
    color: var(--main-text);
    margin-bottom: 20px;
  }

  @media screen and(min-width: 768px) {
    &__title {
      font-size: 26px;
    }
  }

  @media screen and (min-width: 1366px) {
    &__title {
      font-size: 46px;
      margin-bottom: 50px;
    }
  }

  &__image {
    display: block;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1366px) {
    &__image {
      width: 530px;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    &__wrapper {
      margin-left: 43px;
      width: 400px;
    }
  }

  @media screen and (min-width: 1366px) {
    &__wrapper {
      width: 650px;
      margin-left: 30px;
    }
  }

  &__subtitle {
    @include font(800, 20px, 24px, 0.08em);
    color: var(--main-text);
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1366px) {
    &__subtitle {
      font-size: 30px;
    }
  }

  &__list {
    border-top: 1px solid var(--second-text);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1366px) {
    &__list {
      margin-bottom: 45px;
    }
  }

  &__item {
    @include font(600, 14px, 17px, 0.06em);
    color: var(--main-text);
    margin-top: 20px;
    position: relative;
    padding-left: 25px;
  }

  @media screen and(min-width: 768px) {
    &__item {
      font-size: 12px;
    }
  }
  @media screen and (min-width: 1366px) {
    &__item {
      @include font(600, 16px, 20px, 0.06em);
      margin-top: 30px;
    }
  }

  &__icon {
    position: absolute;
    width: 17px;
    height: 14px;
    left: 0px;
    top: 2px;
  }

  &__desc {
    @include font(500, 12px, 20px);
    color: var(--second-text);
  }

  @media screen and(min-width: 768px) {
    &__desc {
      font-size: 10px;
    }
  }

  @media screen and (min-width: 1366px) {
    &__desc {
      @include font(500, 18px, 28px);
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__desc:first-of-type::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 15px;
    background-color: var(--accent-color);
  }

  &__link {
    @include font(500, 12px, 20px);
    color: var(--accent-color);
    text-decoration: underline;

    display: block;
    margin-top: 10px;
  }

  @media screen and (min-width: 1366px) {
    &__link {
      @include font(500, 18px, 28px);
      margin-top: 90px;
    }
  }
}
