.page-header {
  margin-top: 0;
  background-color: var(--header-bgc);

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-icon {
    width: 157px;
    height: 39px;
  }

  // @media screen and (min-width: 768px) {
  //   &__logo-icon {
  //     width: 128px;
  //     height: 45px;
  //   }
  // }

  &__links {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    &__links {
      display: flex;
      align-items: center;
    }
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    display: block;
    padding: 28px 0;

    @include font(500, 16px, 24px, 0.04em);
    text-transform: uppercase;
    color: var(--second-text);
    @include animation(color);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__wrapper {
    display: flex;
  }

  &__mobile-menu {
    display: block;
    border: none;
    background-color: var(--header-bgc);
  }

  @media screen and (min-width: 1024px) {
    &__mobile-menu {
      display: none;
    }
  }
}
